<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap y CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/fidelizacion.css">
        
        <title>Producto - Editar producto</title>
    </head>
    <body>
        <!--Barra de navegacion-->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/listado}">
                <!--Agrega la imagen del logo-->
                <img th:src="@{img/logo_fidelizacion.png}" width="30" height="30" alt="Logo">
                Producto 
            </a>
        </nav>

        <div class="container mt-5 vj-destacados">
            <div class="row">
                <div class="col-md-12">
                    <!-- Titulo de la pagina -->
                    <h1>Editar Producto</h1>
                    <!--Modifica los datos del producto para editarlo-->
                    <form method="POST" th:action="@{/productos/guardarCambios}" th:object="${producto}">
                        <div class="form-group">
                            <label for="PROD_ID">ID</label>
                            <input type="text" class="form-control" th:field="*{PROD_ID}" id="PROD_ID" required>
                        </div>
                        <div class="form-group">
                            <label for="PROD_URL_IMAGEN">Url Imagen</label>
                            <input type="text" class="form-control" th:field="*{PROD_URL_IMAGEN}" id="PROD_URL_IMAGEN" required>
                        </div>
                        <div class="form-group">
                            <label for="PROD_NOMBRE">Nombre</label>
                            <input type="text" class="form-control" th:field="*{PROD_NOMBRE}" id="PROD_NOMBRE" required>
                        </div>
                        <div class="form-group">
                            <label for="PROD_PRECIO_COMPRA">Precio Compra</label>
                            <input type="number" class="form-control" th:field="*{PROD_PRECIO_COMPRA}" id="PROD_PRECIO_COMPRA" min="1" step="0.01" required>
                        </div>                        
                        <div class="form-group">
                            <label for="PROD_PRECIO_VENTA">Precio Venta</label>
                            <input type="number" class="form-control" th:field="*{PROD_PRECIO_VENTA}" id="PROD_PRECIO_VENTA" min="1" step="0.01" required>
                        </div>
                        <div class="form-group">
                            <label for="PROD_PUNTOS">Puntos</label>
                            <input type="number" class="form-control" th:field="*{PROD_PUNTOS}" id="PROD_PUNTOS" min="1" required>
                        </div>
                        <div class="form-group">
                            <label for="PROD_EXISTENCIA">Existencias</label>
                            <input type="number" class="form-control" th:field="*{PROD_EXISTENCIA}" id="PROD_EXISTENCIA" min="1" required>
                        </div>
                        <!--Selecciona el proveedor-->
                        <div class="form-group">
                            <label for="proveedor">Proveedor</label>
                            <select class="form-control" th:field="*{proveedor}" id="proveedor">
                                <option th:each="proveedor: ${proveedores}" 
                                        th:value="${proveedor.PROV_ID}" th:text="${proveedor.PROV_NOMBRE}"></option>
                            </select>
                        </div>
                        <!--Selecciona la categoria-->
                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <select class="form-control" th:field="*{categoria}" id="categoria">
                                <option th:each="categoria: ${categorias}" 
                                        th:value="${categoria.CAT_ID}" th:text="${categoria.CAT_NOMBRE}"></option>
                            </select>
                        </div>
                        <!--Aqui guarda los cambios hechos-->
                        <button type="submit" class="btn btn-success">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div> 
        <!-- Pie de pagina -->
        <footer class="navbar navbar-dark bg-dark mt-5">
            <p style="color: white; text-align: center; padding: 10px; margin: 0 auto;">© 2024 Fidelizacion. Todos los derechos reservados.</p>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
